body {
  margin: 0;
  font-family: "Space Mono", monospace;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
